USE [QL_LINHKIENMAYTINH]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 5/12/2022 7:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHD] [int] NOT NULL,
	[MALINHKIEN] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CHITIETHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MALINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETNK]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNK](
	[MAPN] [int] NOT NULL,
	[MALINHKIEN] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CHITIETNK] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MALINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[tongtien] [money] NULL,
	[MANV] [int] NULL,
	[MAKH] [int] NULL,
	[giamgia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[Makh] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](100) NOT NULL,
	[GIOITINH] [bit] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](12) NULL,
	[maloaikh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LINHKIEN]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LINHKIEN](
	[MALINHKIEN] [int] IDENTITY(1,1) NOT NULL,
	[TENLINHKIEN] [nvarchar](300) NULL,
	[MALOAI] [int] NULL,
	[HANGSX] [nvarchar](25) NULL,
	[DONGIA] [float] NULL,
	[HINHANH] [varchar](50) NULL,
	[SOLUONGCON] [int] NULL DEFAULT ((50)),
PRIMARY KEY CLUSTERED 
(
	[MALINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIKH]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKH](
	[MALOAIKH] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIKH] [nvarchar](100) NULL,
	[GIAMGIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAILINHKIEN]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAILINHKIEN](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](12) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYVL] [date] NOT NULL,
	[LUONG] [float] NULL,
	[HINHANH] [varchar](50) NULL,
	[taikhoan] [varchar](30) NOT NULL,
	[MATKHAU] [varchar](100) NOT NULL DEFAULT ('827ccb0eea8a706c4c34a16891f84e7b'),
	[maquyen] [int] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAPKHO]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPKHO](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[tongtien] [float] NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[maquyen] [int] IDENTITY(1,1) NOT NULL,
	[tenquyen] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maquyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([Makh], [TENKH], [GIOITINH], [DIACHI], [SDT], [maloaikh]) VALUES (140, N'Dương Đông Duy', 1, N'Tiền Giang', N'0376880903  ', 1)
INSERT [dbo].[KHACHHANG] ([Makh], [TENKH], [GIOITINH], [DIACHI], [SDT], [maloaikh]) VALUES (144, N'fdsfads', 1, N'dá', N'fasd        ', 2)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LINHKIEN] ON 

INSERT [dbo].[LINHKIEN] ([MALINHKIEN], [TENLINHKIEN], [MALOAI], [HANGSX], [DONGIA], [HINHANH], [SOLUONGCON]) VALUES (1, N'ASUS ROG STRIX G G512 IAL013T', 14, N'ASUS', 21990000, N'blog1.jpg', 50)
INSERT [dbo].[LINHKIEN] ([MALINHKIEN], [TENLINHKIEN], [MALOAI], [HANGSX], [DONGIA], [HINHANH], [SOLUONGCON]) VALUES (2, N'MACBOOK PRO 13 2020 Z11B000CT', 1, N'APPLE', 36990000, N'imagelp2.jpg', 50)
INSERT [dbo].[LINHKIEN] ([MALINHKIEN], [TENLINHKIEN], [MALOAI], [HANGSX], [DONGIA], [HINHANH], [SOLUONGCON]) VALUES (3, N'ACER ASPIRE 3 A315 57G 524Z', 1, N'Acer', 15490000, N'imagelp3.jpg', 50)
SET IDENTITY_INSERT [dbo].[LINHKIEN] OFF
SET IDENTITY_INSERT [dbo].[LOAIKH] ON 

INSERT [dbo].[LOAIKH] ([MALOAIKH], [TENLOAIKH], [GIAMGIA]) VALUES (1, N'KHÁCH HÀNG VIP', 0.1)
INSERT [dbo].[LOAIKH] ([MALOAIKH], [TENLOAIKH], [GIAMGIA]) VALUES (2, N'KHÁCH HÀNG TIỀM NĂNG', 0.08)
INSERT [dbo].[LOAIKH] ([MALOAIKH], [TENLOAIKH], [GIAMGIA]) VALUES (3, N'KHÁCH HÀNG THÂN THIẾT', 0.05)
SET IDENTITY_INSERT [dbo].[LOAIKH] OFF
SET IDENTITY_INSERT [dbo].[LOAILINHKIEN] ON 

INSERT [dbo].[LOAILINHKIEN] ([MALOAI], [TENLOAI]) VALUES (12, N'BÀN PHÍM')
INSERT [dbo].[LOAILINHKIEN] ([MALOAI], [TENLOAI]) VALUES (14, N'CHUỘT')
INSERT [dbo].[LOAILINHKIEN] ([MALOAI], [TENLOAI]) VALUES (3, N'CPU')
SET IDENTITY_INSERT [dbo].[LOAILINHKIEN] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [GIOITINH], [NGAYVL], [LUONG], [HINHANH], [taikhoan], [MATKHAU], [maquyen]) VALUES (1, N'Lim Bảo Minh', N'TP.HCM', N'0376880903  ', 0, CAST(N'2021-05-11' AS Date), 11000000, N'fontlogo.jpg', N'limminh', N'827ccb0eea8a706c4c34a16891f84e7b', 2)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [GIOITINH], [NGAYVL], [LUONG], [HINHANH], [taikhoan], [MATKHAU], [maquyen]) VALUES (2, N'Hồ Đức Duy', N'Bình Định', N'0789632456  ', 0, CAST(N'2021-04-12' AS Date), 10000000, N'logo.jpg.png', N'duyho', N'827ccb0eea8a706c4c34a16891f84e7b', 2)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [GIOITINH], [NGAYVL], [LUONG], [HINHANH], [taikhoan], [MATKHAU], [maquyen]) VALUES (5, N'Nguyễn Nhật My', N'TPHCM', N'0125325635  ', 0, CAST(N'2020-12-14' AS Date), 14000000, N'cart4.jpg', N'mynguyen', N'827ccb0eea8a706c4c34a16891f84e7b', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[QUYEN] ON 

INSERT [dbo].[QUYEN] ([maquyen], [tenquyen]) VALUES (1, N'Nhân viên')
INSERT [dbo].[QUYEN] ([maquyen], [tenquyen]) VALUES (2, N'admin')
SET IDENTITY_INSERT [dbo].[QUYEN] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__LINHKIEN__30A85ADAAF4699D8]    Script Date: 5/12/2022 7:07:52 PM ******/
ALTER TABLE [dbo].[LINHKIEN] ADD UNIQUE NONCLUSTERED 
(
	[TENLINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNI_TENLOAIKH]    Script Date: 5/12/2022 7:07:52 PM ******/
ALTER TABLE [dbo].[LOAIKH] ADD  CONSTRAINT [UNI_TENLOAIKH] UNIQUE NONCLUSTERED 
(
	[TENLOAIKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNI_LOAILINHKIEN]    Script Date: 5/12/2022 7:07:52 PM ******/
ALTER TABLE [dbo].[LOAILINHKIEN] ADD  CONSTRAINT [UNI_LOAILINHKIEN] UNIQUE NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__FE7B8730B14E40DD]    Script Date: 5/12/2022 7:07:52 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_LINHKIEN] FOREIGN KEY([MALINHKIEN])
REFERENCES [dbo].[LINHKIEN] ([MALINHKIEN])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_LINHKIEN]
GO
ALTER TABLE [dbo].[CHITIETNK]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNK_LINHKIEN] FOREIGN KEY([MALINHKIEN])
REFERENCES [dbo].[LINHKIEN] ([MALINHKIEN])
GO
ALTER TABLE [dbo].[CHITIETNK] CHECK CONSTRAINT [FK_CHITIETNK_LINHKIEN]
GO
ALTER TABLE [dbo].[CHITIETNK]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNK_NHAPKHO] FOREIGN KEY([MAPN])
REFERENCES [dbo].[NHAPKHO] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETNK] CHECK CONSTRAINT [FK_CHITIETNK_NHAPKHO]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([Makh])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [fk_khachhang_loaikh] FOREIGN KEY([maloaikh])
REFERENCES [dbo].[LOAIKH] ([MALOAIKH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [fk_khachhang_loaikh]
GO
ALTER TABLE [dbo].[LINHKIEN]  WITH CHECK ADD  CONSTRAINT [FK_MALOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAILINHKIEN] ([MALOAI])
GO
ALTER TABLE [dbo].[LINHKIEN] CHECK CONSTRAINT [FK_MALOAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_QUYEN] FOREIGN KEY([maquyen])
REFERENCES [dbo].[QUYEN] ([maquyen])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_QUYEN]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_NHAPKHO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [FK_NHAPKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [CHK_DONGIA_CTHD] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [CHK_DONGIA_CTHD]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [CHK_SOLUONG_CTHD] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [CHK_SOLUONG_CTHD]
GO
ALTER TABLE [dbo].[CHITIETNK]  WITH CHECK ADD  CONSTRAINT [CHK_DONGIA_CTDDH] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CHITIETNK] CHECK CONSTRAINT [CHK_DONGIA_CTDDH]
GO
ALTER TABLE [dbo].[CHITIETNK]  WITH CHECK ADD  CONSTRAINT [CHK_SOLUONG_CTDDH] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CHITIETNK] CHECK CONSTRAINT [CHK_SOLUONG_CTDDH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CHK_THANHTIEN_HD] CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CHK_THANHTIEN_HD]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CHK_GIOITINH_KH] CHECK  (([GIOITINH]=(0) OR [GIOITINH]=(1)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CHK_GIOITINH_KH]
GO
ALTER TABLE [dbo].[LINHKIEN]  WITH CHECK ADD  CONSTRAINT [CHK_SOLUONGCON] CHECK  (([SOLUONGCON]>=(0)))
GO
ALTER TABLE [dbo].[LINHKIEN] CHECK CONSTRAINT [CHK_SOLUONGCON]
GO
ALTER TABLE [dbo].[LOAIKH]  WITH CHECK ADD  CONSTRAINT [CHK_GIAMGIA_LOAIKH] CHECK  (([GIAMGIA]>=(0)))
GO
ALTER TABLE [dbo].[LOAIKH] CHECK CONSTRAINT [CHK_GIAMGIA_LOAIKH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CHK_GIOITINH_NV] CHECK  (([GIOITINH]=(0) OR [GIOITINH]=(1)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CHK_GIOITINH_NV]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [CHK_THANHTIEN_NK] CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [CHK_THANHTIEN_NK]
GO
/****** Object:  Trigger [dbo].[trg_hoadon]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_hoadon] on [dbo].[CHITIETHD]
for insert
as
begin
		declare @malk int,@soluong int,@mahd int,@tongtien float
		select @malk=malinhkien,@soluong=soluong,@mahd=MAHD from inserted
		update CHITIETHD
		set THANHTIEN=SOLUONG*DONGIA
		where mahd=@mahd

		update linhkien
		set soluongcon-=@soluong
		where MALINHKIEN=@malk	
		select @tongtien=SUM(thanhtien) from CHITIETHD where mahd=@mahd
		update HOADON 
		set tongtien=@tongtien-@tongtien*giamgia
		where MAHD=@mahd
end

GO
/****** Object:  Trigger [dbo].[trg_nhapkho]    Script Date: 5/12/2022 7:07:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_nhapkho] on [dbo].[CHITIETNK]
for insert
as
begin
		declare @malk int,@soluong int,@mapn int
		select @malk=malinhkien,@soluong=soluong,@mapn=MAPN from inserted
		update CHITIETNK
		set THANHTIEN=SOLUONG*DONGIA
		where MAPN=@mapn

		update linhkien
		set soluongcon+=@soluong
		where MALINHKIEN=@malk

		update NHAPKHO 
		set tongtien=(select SUM(thanhtien) from CHITIETNK where MAPN=@mapn)
		where MAPN=@mapn
end

GO
